label {
    display: block;
    margin-top: 1rem;
}

input {
    box-sizing: border-box;
    width: 100%;

    font-size: 1rem;
    padding: 0.2rem;
}

.form {
    width: 20%;
}

.submit-btn {
    width: 100%;
    margin: 25px 0 10px;
}

.message-container {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.error-container {
    background-color: rgb(255, 149, 149);
}

.error-container:not(:first-of-type) {
    margin-top: 0.5rem;
}

.success-container {
    background-color: rgb(164, 252, 158);
}

.login-img {
    margin-top: 50px;
    height: 80px;
}